<nav class="bg-gray-800 text-white py-3 shadow-md">
    <ul class="list-none p-0 m-0 flex justify-center space-x-6">
        <li><a class="text-white no-underline font-semibold hover:text-yellow-400 transition-colors" href="{% url 'inicio' %}">Inicio</a></li>
        <li><a class="text-white no-underline font-semibold hover:text-yellow-400 transition-colors" href="{% url 'crear_ticket' %}">Crear Ticket</a></li>
        <li><a class="text-white no-underline font-semibold hover:text-yellow-400 transition-colors" href="{% url 'tickets_atendidos' %}">Tickets Atendidos</a></li>
        <li><a class="text-white no-underline font-semibold hover:text-yellow-400 transition-colors" href="{% url 'empleados_all' %}">Descargar Informe</a></li>
    </ul>
</nav>
